{{#each books}}
<img src={{cover}} width="200" height="200"/>
<h2>{{ title }}</h2>
<h3><a href="/books/{{ id }}">Info</a></h3>
<h3><a href="/books/destroy/confirm/{{ id }}">Delete</a></h3>
<h3><a href="/books/edit/{{ id }}">Update</a></h3>
<br/>
{{/each}}
